# 钉钉应用凭证
DINGTALK_CLIENT_ID=dingfu8ids1lx91ji3mm
DINGTALK_CLIENT_SECRET=pQ4DNgnzvRW9DqS03lPY1fsSe1EcLzGDam0wV1cFsDgYPWmTUPNDh9HHLJIG7PBG

# 多维表格信息
DINGTALK_NODE_ID=nYMoO1rWxaw51bbasz1OzvdwV47Z3je9
DINGTALK_SHEET_ID=hERWDMS

# 接口安全密钥（自己随便设一个，Salesmartly调用时要带上）
API_SECRET_KEY=kehuyuyue1
